
// Fonts

$MyFont: "Source Sans Pro";
$PolytikFont: "Roboto";

// Colors

$Bgcolor: rgba(#2d76bb, 0.7);
$DefFontColor: #FFFFFF;
$InputColor: #2F2F2F;
$ErrorColor: #FF0000;
$ButtonColor: #1c1c1c;
$ButtonGrad: (180deg, rgb(255, 230, 148), rgb(255, 210, 58));
$ButtonBorder: #B3901B;
$CheckColor: #868686;
$PolytikColor: #000000;